.wrapper {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

.container {
  width: 80vw;
  max-width: 800px;
  height: 80vh;
  max-height: 430px;
  margin: 0rem auto;
  padding: 0.5rem;
  display: flex;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
}

.leftContainer {
  flex: 0.25;
  text-align: start;
}

.rightContainer {
  flex: 0.75;
  overflow-y: scroll;
}

.listHeading {
  font-size: 1rem;
  padding: 0.25rem 0.5em;
}

.listItem {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #474747;
}

.listItem:hover {
  background-color: rgb(233, 201, 23);
}

.productHeading {
  text-align: start;
  font-size: 1rem;
  padding: 0.25rem 0.5em;
}

.productList {
  display: grid;
  grid-gap: 1rem;
  padding: 0.5rem;
  grid-template-columns: repeat(1, 180px);
}

.button {
  font-size: 0.9rem;
  background-color: rgb(233, 201, 23);
  padding: 0.5rem;
  margin: 0.5rem auto;
  cursor: pointer;
}

.errorContainer {
  width: fit-content;
  font-size: 1rem;
  margin: 5rem auto;
}

@media screen and (min-width: 480px) {
  .productList {
    grid-template-columns: repeat(2, 180px);
  }

  .button {
    padding: 0.75rem 3rem;
    margin: 0.5rem auto;
  }
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .rightContainer {
    overflow-y: hidden;
  }

  .productList {
    grid-template-columns: repeat(3, 180px);
  }
}